name: Terraform Validation

on:
    push:
        branches:
            - main
            - dev
        pull_request:
            branches:
                - main

jobs:
    terraform-validate:
        name: Validate Terraform Code
        runs-on: ubuntu-latest
        
    steps:
        - name: Checkout Code
          uses: actions/checkout@v4
          
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v3
          with:
            terraform_version: 1.6.0
            
        - name: Terraform Fotmat Check
          id: fmt
          run: terraform fmt -Check
          continue-on-error: true
        
        - name: Terraform Init
          id: init
          run: terraform init -backend=false
          
        - name: Terraform validate
          id: validate
          run: terraform validate -no-color
          
        - name: Post Results
          if: always()
          run: |
              echo "Format Check: ${{ steps.fmt.outcome }}"
              echo "Init: ${{ steps.init.outcome }}"
              echo "Validate: ${{ steps.validate.outcome }}"